body {
	overflow:hidden;
}

#container {
	overflow:hidden;
}

.control-area {
	margin-bottom: 0px;
	padding:0px;
}

.shadow {
   -moz-box-shadow:inset 0 0 10px #000000;
   -webkit-box-shadow:inset 0 0 10px #000000;
   box-shadow:inset 0 0 10px #000000;
}

#trackpad{
	width: 70%;
	height: 80%;
	background: white url(../../../static/mobile/img/bg.jpg) repeat left top;

}

#trackpad.clicked {	
	background: url(../../../static/mobile/img/bg-click.png) repeat-x left top, url(../../../static/mobile/img/bg.jpg) repeat left top
}

#vert-scroll {
	width:30%;
	height:100%;
	background-color:blue;
	float:right;
}

#hor-scroll {
	width:70%;
	height:20%;
	background-color:green;
}

.lower-button {
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 25%;
	float: left;
	margin: 4% 4%;
	height: 74%;
	background: rgb(149,149,149); /* Old browsers */
}

#draw {
	
}

#draw.disabled {
	background-color: red !important;
}
